body {
    background-color: rgb(224, 224green, 224blue);
    color: black;
}
table {
    border: 0;
    width: 650px;
    text-align: center;
    background-color: rgb(92, 107green, 123blue)
}
td table {
    background-color: white;
    border: 0;
}
tr {
    background-color:rgb(205, 219green, 235blue) ;
    text-align: center;
    height: 35px;
}
td {
    text-align: center;
}
h1 {
    font-weight: bolder;
}
b {
    font-size: 30px;
    text-align: right;

}
p {
text-align: center;
}